.cloud{
position: relative;
height: 200px;
width: 200px;
opacity: 0.7;
transform: translateX(-100%);
bottom: 100px;

}
.cloud1{
  animation: float 14s linear 0s infinite;
}
.cloud2{
  animation: float 12s linear 3s infinite;
  position: relative;
  bottom: 200px;
}
.cloud3{
  animation: float 16s linear 7s infinite;
  position: relative;
  bottom: 500px;

}
.cloud4{
  animation: float 18s linear 7s infinite;
  position: relative;
  bottom: 600px;
}
.cloud5{
  animation: float 20s linear 7s infinite;
  position: relative;
  bottom: 700px;
}
@keyframes float {
  0%{
    transform: translateX(-100);
  }
  100%{
    transform: translateX(100vw);
  }
}
.rec1{
  width:170px;
  height: 50px;
  border-radius: 50px;
  background: white;
  position: absolute;
  bottom: 0;
}
.rec2{
  width:70px;
  height: 70px;
  background: white;
  position: absolute;
  top: 130px;
  border-radius: 50px;
  left: 0;
}
.rec3{
  width:70px;
  height: 70px;
  background: white;
  position: absolute;
  top: 130px;
  border-radius: 50px;
  right: 25px;
}
.rec4{
  width:100px;
  height: 100px;
  background: white;
  position: absolute;
  top: 90px;
  border-radius: 50px;
  left: 50px;

}
.rec5{
  width:70px;
  height: 70px;
  background: white;
  position: absolute;
  top: 100px;
  border-radius: 50px;
  left: 20px;
}
