/* This the code that i excluded from mountain **/
position: relative;
bottom: 6.875rem;
display: inline-block;
padding-top: 1.875rem;
position: relative;
left: 21.25rem;
top: 1.6875rem;
/** This is the code that i excluded from images */
display: block;
position: relative;
left: 34.375rem;
top: 3.125rem;


width: 100%;
height: auto;
max-width: 570px;
CDFCF6
